

/* using background color */
body {
       background-color:#f5ece5;
     }

/* paragraph text style */
p {
    color: #45523e;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
  }

  /*Header text style */
h1 {
    color: #45523e;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
   }
  
h5 {
     color: #45523e;
     font-family: 'Cormorant Garamond', serif;
     font-family: 'Didact Gothic', sans-serif;
     font-weight: bolder;
     font-size: 25px;
     text-decoration: underline;
   }

h3 {
    color: #45523e;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
   }

/*nav bar style*/

/*card stlyes */


/*link stlyes */
